.box-register{
    width: max-content;
    min-width: 250px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 25px;
}

label{
    font-size: 18px;
    font-weight: bolder;
    padding: 5px;
}

label span{
    color: black;
    padding: 5px;
}